section .swiper > div.swiper-pagination-progressbar {
  background: #ccc;
}

.swiper-pagination-progressbar-fill {
  --swiper-theme-color: #979942;
}

section .swiper .swiper-pagination {
  top: calc(100% - 4px);
}

.swiper-button-prev {
  --swiper-theme-color: #999;
  transform: scale(0.8);
  left: 192px !important;
}

.swiper-button-next {
  --swiper-theme-color: #999;
  transform: scale(0.8);
  right: 192px !important;
}
@media (max-width: 1536px) {
  .swiper-button-prev {
    left: 10px !important;
  }

  .swiper-button-next {
    right: 10px !important;
  }
}

@media (max-width: 640px) {
  .swiper-button-prev {
    transform: scale(0.4);
  }

  .swiper-button-next {
    transform: scale(0.4);
  }
}
